{% extends "network/layout.html" %}
{% load static %}

{% block body %}



<div class="list-group">
    {% for following in followings %}
    <div class="list-group-item d-flex align-items-center">
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" width="50px" class="rounded-sm ml-n2" />
        <div class="flex-fill pl-3 pr-3">
            <div><a href="#" class="text-dark font-weight-600">{{ following.username }}</a></div>
            <div class="text-muted fs-13px">Mount Lerdo</div>
        </div>
        {% if user.is_authenticated %}
        <a href="#" class="btn btn-outline-primary">UnFollow</a>
        {% endif %}
    </div>
    {% endfor%}
</div>

{% endblock %}