{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if msg %}
<h5 class="text-danger">{{msg}}</h5>
{% endif %}

<form class="mt-2 mb-4" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea autofocus class="form-control" type="text" name="content" placeholder="Content"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">
        Create
    </button>
</form>
{% if tweets %}
{% for tweet in tweets %}

{% if user == tweet.tweet.user %}
<div class="{{tweet.tweet.id}} editting " data-id="{{tweet.tweet.id}}">
    <div>
        <div class="form-group">
            <textarea autofocus class="form-control" type="text" name="content"
                placeholder="Content">{{tweet.tweet.content}}</textarea>
        </div>
        <button class="btn btn-primary">
            Save
        </button>
    </div>

</div>
{% endif %}

<div class="content border p-2 mt-2" data-id="{{tweet.tweet.id}}">
    <h3>Created By <a href="{% url 'profile' tweet.tweet.user.username %}"> {{tweet.tweet.user.username}} </a> </h3>
    <p>
        {{tweet.tweet.content}}
    </p>
    <p class="text-secondary">Created On {{tweet.tweet.created_at}}</p>

    <span>
        {{tweet.likes}}
    </span> <i class="bi bi-suit-heart-fill {% if tweet.isLiked %}text-danger{% endif %} me-2"></i>
    {% if user.is_authenticated %}
    {% if tweet.isLiked %}
    <button class="like-btn btn btn-primary">Dislike</button>
    {% else %}

    <button class="like-btn btn btn-primary">Like</button>

    {% endif %}
    {% endif %}
    {% if user == tweet.tweet.user %}
    <button class="btn btn-secondary edit">Edit</button>
    {% endif %}

</div>
{% endfor %}

<nav aria-label="Page navigation float-end">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
        {% endif %}

        {% with ''|center:page_obj.paginator.num_pages as range %}
        {% for _ in range %}

        {% if forloop.counter == page_obj.number %}
        <li class="page-item disabled"><a aria-disabled="true" class="page-link bg-secondary text-light"
                href="?page={{forloop.counter}}">
                {{forloop.counter}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">
                {{forloop.counter}}</a></li>

        {% endif %}
        {% endfor %}
        {% endwith %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}



{% endblock %}

{% block script %}
<script src="{% static 'network/script.js' %}"></script>
{% endblock %}