{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if msg %}
<h5 class="text-danger">{{msg}}</h5>
{% endif %}

<form class="mt-2 mb-4" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea autofocus class="form-control" type="text" name="content" placeholder="Content"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">
        Create
    </button>
</form>
{% if tweets %}
{% for tweet in tweets %}
<div class="border p-2 mt-2" data-id="{{tweet.id}}">
    <h3>Created By {{tweet.user.username}}</h3>
    <p>
        {{tweet.content}}
    </p>
    <p class="text-secondary">Created On {{tweet.created_at}}</p>

    {% if user.is_authenticated %}
    {% for like in likes %}

    {% if like.tweet == tweet and like.user == user %}

    <i class="bi bi-suit-heart-fill text-danger"></i><button class="bg-secondary like-btn">Dislike</button>

    {% else %}

    <i class="bi bi-suit-heart-fill"></i><button class="bg-secondary like-btn">like</button>

    {% endif %}


    {% endfor %}
    {% endif %}

</div>
{% endfor %}
{% endif %}



{% endblock %}

{% block script %}
<script src="{% static 'network/script.js' %}"></script>
{% endblock %}