{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if msg %}
<h5 class="text-danger">{{msg}}</h5>
{% endif %}

<form class="mt-2 mb-4" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea autofocus class="form-control" type="text" name="content" placeholder="Content"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">
        Create
    </button>
</form>
{% if tweets %}
{% for tweet in tweets %}
<div class="border p-2 mt-2" data-id="{{tweet.tweet.id}}">
    <h3>Created By <a href="{% url 'profile' tweet.tweet.user.username %}"> {{tweet.tweet.user.username}} </a> </h3>
    <p>
        {{tweet.tweet.content}}
    </p>
    <p class="text-secondary">Created On {{tweet.tweet.created_at}}</p>

    {{tweet.likes}} <i class="bi bi-suit-heart-fill {% if tweet.isLiked %}text-danger{% endif %} me-2"></i>
    {% if user.is_authenticated %}
    {% if tweet.isLiked %}
    <button class="like-btn btn btn-primary">Dislike</button>
    {% else %}

    <button class="like-btn btn btn-primary">Like</button>

    {% endif %}
    {% endif %}

</div>
{% endfor %}
{% endif %}



{% endblock %}

{% block script %}
<script src="{% static 'network/script.js' %}"></script>
{% endblock %}