{% extends "network/layout.html" %}
{% load static %}

{% block body %}


<div>
    {% if msg %}
    <h1 class="text-danger text-center">{{msg}}</h1>
    {% else %}
    <div class="col">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3"><img
                            src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                            alt="..." width="130" class="rounded mb-2 img-thumbnail"></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">
                            <a href="{% url 'profile' output.user.username %}">{{output.user.username}}</a>
                        </h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>New York</p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul data-id="{{output.user.id}}" class="list-inline mb-0">
                    {% if user.is_authenticated and user != output.user %}
                    {% if output.isFollowed != None %}
                    {% if output.isFollowed == False %}
                    <button id="follow" class="btn btn-primary">Follow</button>
                    {% else %}
                    <button id="follow" class="btn btn-primary">UnFollow</button>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% if output.followers > 0 %}
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{output.followers}}</h5>
                        <a href="#">
                            <small class="text-muted"><i class="bi bi-person-fill"></i>Followers</small>

                        </a>
                    </li>
                    {% else %}
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{output.followers}}</h5>
                        <small class="text-muted"> <i class="bi bi-person-fill"></i>Followers</small>
                    </li>
                    {% endif %}

                    {% if output.followings > 0 %}
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{output.followings}}</h5>
                        <a href="#">
                            <small class="text-muted">
                                <i class="bi bi-person-fill"></i>Following</small>

                        </a>
                    </li>

                    {% else %}
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{output.followings}}</h5><small class="text-muted">
                            <i class="bi bi-person-fill"></i>Following</small>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">About</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0">Web Developer</p>
                    <p class="font-italic mb-0">Lives in New York</p>
                    <p class="font-italic mb-0">Photographer</p>
                </div>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Recent Tweets ({{output.count}})</h5>
                </div>
                <div class="row d-flex flex-column">
                    {% for tweet in output.tweets %}
                    <div class="col-lg-6 mb-2 pr-lg-1">
                        {% if tweet.content|length >= 40 %}
                        {{tweet.content|slice:":39"}}...

                        {% else %}
                        {{tweet.content}}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <nav aria-label="Page navigation float-end">
                    <ul class="pagination">
                        {% if output.tweets.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{output.tweets.previous_page_number}}">Previous</a></li>
                        {% endif %}

                        {% with ''|center:output.tweets.paginator.num_pages as range %}
                        {% for _ in range %}
                        {% if forloop.counter == output.tweets.number %}
                        <li class="page-item disabled"><a aria-disabled="true" class="page-link bg-secondary text-light"
                                href="?page={{forloop.counter}}">
                                {{forloop.counter}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">
                                {{forloop.counter}}</a></li>

                        {% endif %}
                        {% endfor %}
                        {% endwith %}

                        {% if output.tweets.has_next %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{output.tweets.next_page_number }}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block script %}
<script src="{% static 'network/profile.js' %}"></script>
{% endblock %}